In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\basha\anaconda3\lib\site-packages (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\basha\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in c:\users\basha\anaconda3\lib\site-packages (from pandas) (1.20.3)
Requirement already satisfied: pytz>=2017.3 in c:\users\basha\anaconda3\lib\site-packages (from pandas) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\basha\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import pandas as pd

In [5]:
df = pd.read_csv(r"C:\learn_python\file_handling_tutorial\scores.csv")
df

     rohit    9
0   shakib   56
1    babar   56
2    rohit  120
3    rohit  105
4   shakib   78
5    rohit  140
6    babar   45
7    rohit  130
8   shakib  102
9    babar  120
10   babar    5
11  shakib   72
12   babar   67