In [3]:
height = int(input("Enter height in meters: "))
weight = int(input("Enter weight in kgs: "))

bmi = (weight)/((height)**2)
print("BMI is: ",bmi)

if bmi >= 30:
    print("obesity")
elif bmi>25 and bmi<29:
    print("overweight")
elif bmi>18.5 and bmi<25:
    print("normal")
else:
    print("underweight")

Enter height in meters: 2
Enter weight in kgs: 80
BMI is:  20.0
normal

In [4]:
India = ["Mumbai", "Bangalore", "Chennai", "Delhi"]
USA = ["New York","Chicago","Las Vegas", "San Francisco"]
UK = ["London", "Manchester", "Liverpool", "Nottingham"]

In [10]:
city_name = input("Enter the CITY name: ")

if city_name in India:
    print(f"{city_name} is in India")
elif city_name in USA:
    print(f"{city_name} is in USA")
elif city_name in UK:
    print(f"{city_name} is in UK")
else:
    print("I don't know about this city")

Enter the CITY name: Vizag
I don't know about this city

In [14]:
city_name1 = input("Enter the CITY name 1 : ")
city_name2 = input("Enter the CITY name 2 : ")

if city_name1 in India and city_name2 in India:
    print(f"{city_name1} and {city_name2} present in India")
elif city_name1 in USA and city_name2 in USA:
    print(f"{city_name1} and {city_name2} present in USA")
elif city_name1 in UK and city_name2 in UK:
    print(f"{city_name1} and {city_name2} present in UK")
else:
    print("They don't belong to same country")

Enter the CITY name 1 : London
Enter the CITY name 2 : Mumbai
They don't belong to same country

In [3]:
expenses = [1200,1300,1500,1700,2100,2300]

total_expense = 0

for i in range(len(expenses)):
    expense = expenses[i]
    print(f'Month {i+1} , Expense {expense}')
    total_expense+=expense

print("Total expenses: ",total_expense)

Month 1 , Expense 1200
Month 2 , Expense 1300
Month 3 , Expense 1500
Month 4 , Expense 1700
Month 5 , Expense 2100
Month 6 , Expense 2300
Total expenses:  10100

In [4]:
expenses = [1200,1300,1500,1700,2100,2300]

total_expense = 0

for i,expense in enumerate(expenses):
    print(f'Month {i+1} , Expense {expense}')
    total_expense+=expense

print("Total expenses: ",total_expense)

Month 1 , Expense 1200
Month 2 , Expense 1300
Month 3 , Expense 1500
Month 4 , Expense 1700
Month 5 , Expense 2100
Month 6 , Expense 2300
Total expenses:  10100

In [6]:
n = 0

while n<10:
    print(n)
    n += 1

0
1
2
3
4
5
6
7
8
9

In [8]:
number_of_rows = int(input("Enter number of rows: "))

for i in range(number_of_rows, 0 ,-1):
    for j in range(1, i+1):
        print("* ",end="")
    print("\r")

Enter number of rows: 6
* * * * * *
* * * * *
* * * *
* * *
* *
*

In [12]:
number_of_rows = int(input("Enter number of rows: "))

for i in range(number_of_rows, 0 ,-1):
    for j in range(1, i+1):
        print(j ,end=" ")
    print("\r")

Enter number of rows: 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [13]:
sum = 0

for i in range(1,20):
    if i%2 == 0:
        sum+=i

print(sum)

90

In [14]:
n=20
total = 0

while n<20:
    if n%2 == 0:
        total+=n
    n+=1
    
print(sum)

90

In [15]:
dice_result  = [5,6,4,2,5,4,4,5,3,3,2,6,1,2,1,1,6,5]

In [21]:
n = int(input("Enter a number to find how many times we got this as result: "))
count = 0

for i in dice_result:
    if i == n:
        count+=1
        
print(f'We got {n} as a result for {count} times')

Enter a number to find how many times we got this as result: 1
We got 1 as a result for 3 times

In [29]:
n = int(input("Enter a number to see consecutive or not: "))
con_count = 0

for i in range(len(dice_result)-1):
    if dice_result[i] == n and dice_result[i+1] == n:
        con_count +=1
        
print(f'We got {n} as a consecutive for {con_count} times')

Enter a number to see consecutive or not: 3
We got 3 as a consecutive for 1 times

In [31]:
push_ups_goal = 50
push_ups_completed = 0

while push_ups_completed < push_ups_goal:
    push_ups_remaining = push_ups_goal - push_ups_completed
    
    if push_ups_completed >= 10:
        print(f'You have done {push_ups_completed} push ups.')
        print(f'You have {push_ups_remaining} push ups remaining.')
        
        reply = input("Are you tired? (yes/y to stop or no/n to continue: )")
        if reply == yes or reply == y:
            print(f'You have done {push_ups_completed} push ups.')
            break
        elif reply == no or reply == n:
            push_ups_completed += 10
            continue
        else:
            print("Invalid input")
    else:
        push_ups_completed += push_ups_remaining
        print("Congrats, You made it.")
        break

Congrats, You made it.